<a href="https://colab.research.google.com/github/Alexasanr063/geekbrains/blob/main/ETL_lesson2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Открытие CSV файла
file_path = '/content/fifa_s2.csv'
df = pd.read_csv(file_path)

# Проверка данных
print(df.head())

      ID       Name  Age  Nationality  Overall  Potential  \
0   1179  G. Buffon   40        Italy       88         88
1   5479   Casillas   37        Spain       82         82
2   8205      Braga   35     Portugal       70         70
3   9014  A. Robben   34  Netherlands       84         84
4  19521  J. Ibehre   35      England       61         61

                  Club    Value  Wage Preferred Foot  \
0  Paris Saint-Germain   4000.0    77          Right
1             FC Porto   1500.0    10           Left
2              CD Aves    750.0     5          Right
3    FC Bayern München  15500.0   110           Left
4     Cambridge United    120.0     2          Right

   International Reputation  Skill Moves Position  Joined  \
0                       4.0          1.0       GK    2018
1                       4.0          1.0      NaN    2015
2                       1.0          3.0      LCM    2017
3                       4.0          4.0       RM    2009
4                       1.0          2.0       ST    2017

  Contract Valid Until    Height  Weight  Release Clause
0           01/01/2019  6.333333   203.0          7400.0
1           01/01/2019  6.083333   185.0          3000.0
2           01/01/2019  5.916667   165.0          1600.0
3           01/01/2019  5.916667   176.0         25600.0
4           01/01/2019  6.333333   203.0           210.0

Количество пропущенных значений в каждом столбце

In [3]:
missing_data = df.isnull().sum()
print("Количество пропущенных значений в каждом столбце:")
print(missing_data)

Количество пропущенных значений в каждом столбце:
ID                            0
Name                          0
Age                           0
Nationality                   7
Overall                       0
Potential                     0
Club                        241
Value                       257
Wage                          0
Preferred Foot                0
International Reputation     10
Skill Moves                   6
Position                     21
Joined                        0
Contract Valid Until        273
Height                        0
Weight                        0
Release Clause                3
dtype: int64

Удаление ненужных столбцов и строк

In [4]:
# Удаляем столбцы с пропущенными значениями
df_cleaned = df.dropna(axis=1)

# Удаляем строки с пропущенными значениями
df_cleaned = df_cleaned.dropna()

# Результат
print("Очищенный DataFrame:")
print(df_cleaned)

Очищенный DataFrame:
          ID           Name  Age  Overall  Potential  Wage Preferred Foot  \
0       1179      G. Buffon   40       88         88    77          Right
1       5479       Casillas   37       82         82    10           Left
2       8205          Braga   35       70         70     5          Right
3       9014      A. Robben   34       84         84   110           Left
4      19521      J. Ibehre   35       61         61     2          Right
...      ...            ...  ...      ...        ...   ...            ...
2394  246465       Guerrero   16       63         76     1           Left
2395  246594    H. Massengo   16       62         75     2          Right
2396  246599  Guillem Jaime   19       64         80    13          Right
2397  246606    Fran García   18       64         79     9           Left
2398  246608        Fidalgo   21       65         75    20          Right

      Joined    Height  Weight
0       2018  6.333333   203.0
1       2015  6.083333   185.0
2       2017  5.916667   165.0
3       2009  5.916667   176.0
4       2017  6.333333   203.0
...      ...       ...     ...
2394    2018  5.916667   165.0
2395    2018  5.833333   146.0
2396    2018  5.833333   154.0
2397    2018  5.583333   139.0
2398    2016  5.750000   150.0

[2399 rows x 10 columns]

In [6]:
df['Club'] = df['Club'].str.lower()  # Приводим названия команд к нижнему регистру

# Поиск полных дубликатов
duplicates = df[df.duplicated()]

print("Найденные дубликаты:")
print(duplicates)

# Удаление полных дубликатов
df_cleaned = df.drop_duplicates()

# Результат
print("DataFrame после удаления дубликатов:")
print(df_cleaned)

Найденные дубликаты:
         ID        Name  Age Nationality  Overall  Potential          Club  \
154  168651  I. Rakitić   30     Croatia       87         87  fc barcelona
304  181872    A. Vidal   31       Chile       85         85  fc barcelona

       Value  Wage Preferred Foot  International Reputation  Skill Moves  \
154  46500.0   260          Right                       4.0          3.0
304  26000.0   205          Right                       4.0          3.0

    Position  Joined Contract Valid Until    Height  Weight  Release Clause
154      RCM    2014           01/01/2021  6.000000   172.0         95300.0
304      CAM    2018           01/01/2021  5.916667   165.0         53300.0
DataFrame после удаления дубликатов:
          ID           Name  Age  Nationality  Overall  Potential  \
0       1179      G. Buffon   40        Italy       88         88
1       5479       Casillas   37        Spain       82         82
2       8205          Braga   35     Portugal       70         70
3       9014      A. Robben   34  Netherlands       84         84
4      19521      J. Ibehre   35      England       61         61
...      ...            ...  ...          ...      ...        ...
2394  246465       Guerrero   16        Spain       63         76
2395  246594    H. Massengo   16       France       62         75
2396  246599  Guillem Jaime   19        Spain       64         80
2397  246606    Fran García   18        Spain       64         79
2398  246608        Fidalgo   21        Spain       65         75

                     Club    Value  Wage Preferred Foot  \
0     paris saint-germain   4000.0    77          Right
1                fc porto   1500.0    10           Left
2                 cd aves    750.0     5          Right
3       fc bayern münchen  15500.0   110           Left
4        cambridge united    120.0     2          Right
...                   ...      ...   ...            ...
2394  cf rayo majadahonda    625.0     1           Left
2395            as monaco    450.0     2          Right
2396         fc barcelona    975.0    13          Right
2397          real madrid    825.0     9           Left
2398          real madrid    875.0    20          Right

      International Reputation  Skill Moves Position  Joined  \
0                          4.0          1.0       GK    2018
1                          4.0          1.0      NaN    2015
2                          1.0          3.0      LCM    2017
3                          4.0          4.0       RM    2009
4                          1.0          2.0       ST    2017
...                        ...          ...      ...     ...
2394                       1.0          3.0       CM    2018
2395                       1.0          2.0      CDM    2018
2396                       1.0          3.0       RW    2018
2397                       1.0          2.0       LB    2018
2398                       1.0          3.0       CM    2016

     Contract Valid Until    Height  Weight  Release Clause
0              01/01/2019  6.333333   203.0          7400.0
1              01/01/2019  6.083333   185.0          3000.0
2              01/01/2019  5.916667   165.0          1600.0
3              01/01/2019  5.916667   176.0         25600.0
4              01/01/2019  6.333333   203.0           210.0
...                   ...       ...     ...             ...
2394           01/01/2019  5.916667   165.0          1400.0
2395           01/01/2021  5.833333   146.0          1100.0
2396           01/01/2020  5.833333   154.0          2600.0
2397           01/01/2019  5.583333   139.0          2200.0
2398           01/01/2019  5.750000   150.0          2000.0

[2397 rows x 18 columns]

Функция для добавления колонки с возрастными группами

In [7]:
def add_age_group(df):
    # Добавляем колонку с возрастными группами
    df['Age Group'] = pd.cut(df['Age'],
                             bins=[0, 20, 30, 36, float('inf')],
                             labels=['До 20', '20-30', '30-36', 'Старше 36'],
                             right=False)
    return df

def count_players_in_age_groups(df):
    # Подсчитываем количество футболистов в каждой возрастной категории
    age_group_counts = df['Age Group'].value_counts().sort_index()
    return age_group_counts

In [8]:
df = add_age_group(df)

# Подсчет количества футболистов в каждой возрастной категории
age_group_counts = count_players_in_age_groups(df)

# Результат
print("Количество футболистов в каждой возрастной категории:")
print(age_group_counts)

Количество футболистов в каждой возрастной категории:
Age Group
До 20         270
20-30        1646
30-36         460
Старше 36      23
Name: count, dtype: int64